body{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
div{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
input{
  background-color: bisque;
  padding: 5px;
  
}
textarea{
  background-color: bisque;
}
button{
  background-color: tan;
  padding: 10px;
}
#root{
  width: 300px;
}
.column{
  display: flex;
  flex-direction: column;
}
input, textarea, button{
  border: none;
  border-radius: 5px;
}